- daily = @web_site.report(:daily) rescue nil

%section
  %h1= @web_site.name
  - if daily.present?
    %h3 Today: #{daily[:count]} pages (##{daily[:hex]})

:coffee
  document.colorCamp.channelName = 'site-#{@web_site.uuid}'
  document.colorCamp.dataLoadColors #{@latest_colors.map(&:to_public_api).to_json}