!!!
%html{lang: 'en', 'xmlns:fb' => 'http://www.facebook.com/2008/fbml', 'xmlns:og' => 'http://opengraphprotocol.org/schema/', 'xmlns' => 'http://www.w3.org/1999/xhtml'}
  %head{prefix: 'og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#'}
    %meta{charset: 'UTF-8'}

    %title= page_title

    %meta{name: :viewport, content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"}

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

    = render 'layouts/static/meta_tags'

    = # render 'layouts/header'


  %body{class: @body_classes}
    = # render 'layouts/body_header'

    = react_component 'Header', { current_user: (current_user ? current_user.to_api(:current_user) : nil) }

    #wrapper
      #container
        #content.container-fluid
          = yield


          - providers = User.available_providers.map{|provider| {name: provider.to_s.titleize, url: authenticate_url(provider)} }
          = react_component 'ColorCanvas', {}
          = react_component 'SettingsModal', { current_user: (current_user ? current_user.to_api(:current_user) : nil), visible: false }
          = react_component 'SignupLoginModal', { providers: providers, visible: false }

          .clearfix

    %script{type: 'text/javascript'}
      = extension_send_message.html_safe

    = # render 'layouts/static/footer'
    = # render 'layouts/footer'