!!!
%html{lang: 'en', 'xmlns:fb' => 'http://www.facebook.com/2008/fbml', 'xmlns:og' => 'http://opengraphprotocol.org/schema/', 'xmlns' => 'http://www.w3.org/1999/xhtml'}
  %head{prefix: 'og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#'}
    %meta{charset: 'UTF-8'}

    %title= page_title

    %meta{name: :viewport, content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"}

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags

    = render 'layouts/static/meta_tags'

    :coffee
      @ColorInitialProps ||= {}
      @ColorInitialProps.default_title = '#{t(:title)}'
      @ColorInitialProps.facebook_app_id = #{Setting.facebook_app_id}
      @ColorInitialProps.current_user = #{ (current_user ? current_user.to_api(:current_user) : nil).to_json }
      @ColorInitialProps.signin_providers = #{ signin_providers.to_json }

    %script{src: 'https://use.typekit.net/hba1asi.js'}
    %script try{Typekit.load({ async: true });}catch(e){}


  %body
    = yield

    = react_router 'ColorRoutes', 'HistoryLocation' unless @disable_react

    %script{type: 'text/javascript'}
      = extension_send_message.html_safe

    = javascript_include_tag 'application', 'data-turbolinks-track' => true